[submodule "IronstoneBase"]
	path = IronstoneBase
	url = https://github.com/JPPGroup/IronstoneBase.git
[submodule "NautilusApi"]
	path = NautilusApi
	url = https://github.com/TLSoftwareUK/NautilusApi.git
